@include foundation-everything;

main {
    background: snow;
}

header {
  background-color: black;
  padding: 0.5rem;
  color: white;
}

#completed-checkbox {
  display: inline;
}

label {
  display: inline;
}

button.success {
  margin-right: 1.2rem;
  display: inline;
}

aside.create-tasklist {
  background-color: navy;
  color: #FFFFFF;
}
aside label {
  color: #FFFFFF;
}

.completed {
  text-decoration: line-through;
}

div {
  display: inline-block;
}

#movies li {
  list-style-type: none;
}

header h1, #search-form, header p, header button {
  display: inline-block;
}

#search-form {
  padding-top: 20px;
}

.float-right {
  float: right;
}

#rental-availability{
  color: red;
}
/*
* {
  border-style: solid;
}
*/
