@include foundation-everything;

main {
    background: lightblue;
}

header {
  background-color: lightgreen;
  padding: 0.5rem;
}

#completed-checkbox {
  display: inline;
}

label {
  display: inline;
}

button.success {
  margin-right: 1.2rem;
  display: inline;
}

aside.create-tasklist {
  background-color: navy;
  color: #FFFFFF;
}
aside label {
  color: #FFFFFF;
}

.completed {
  text-decoration: line-through;
}

div {
  display: inline;
}

.red{
  color: red;
}

.modal {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/*
* {
  border-style: solid;
}
*/
