@include foundation-everything;
@import url('https://fonts.googleapis.com/css?family=Secular+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*********** ALL STYLES ***********/

h1, h2, h3, h4 {
  font-family: 'Secular One', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.align-center {
  text-align: center;
}

.aqua-bg {
  background-color: #ABEBC6;
}

.button {
  background-color: #ABEBC6;
  color: #232f3e;
  border-radius: 5px;
}

td .overflow-auto {
  overflow: scroll;
  height: 220px;
}
/*********** HEADER ***********/

.main-header {
  text-align: center;
  background-color: #232f3e;
  color: #E8E8E8;
  padding: 10px;
}

.main-h1-wrapper {
  border: 2px #ABEBC6 solid;
}

.main-h1-wrapper h1 {
  margin: 0;
}

/******* MAIN SECTION HEADERS *******/

.section-header {
  border: 1px #B8B8B8 solid;
  border-radius: 5px;
  margin: 20px 0 20px 0;

}

.section-header h4 {
  padding: 10px;
  margin: 0;
}


/* main {
    background: lightblue;
}

header {
  background-color: lightgreen;
  padding: 0.5rem;
}

#completed-checkbox {
  display: inline;
}

label {
  display: inline;
}

button.success {
  margin-right: 1.2rem;
  display: inline;
}

aside.create-tasklist {
  background-color: navy;
  color: #FFFFFF;
}
aside label {
  color: #FFFFFF;
}

.completed {
  text-decoration: line-through;
}

div {
  display: inline;
} */
/*
* {
  border-style: solid;
}
*/
