@include foundation-everything;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #465362;
}

h1 {
  font-size: 2em;
  padding-top: 25px;
}

h1, h2, h3 {
  text-align: center;
}

main {
  background: white;
  margin: 10px;
}

nav {
  background: #C3DFE0;
  position: sticky;
  box-shadow: 0 2px 5px -2px #465362;
  /* padding: 0.5rem; */
}
input[type="text"], input[type="text"]:focus {
  margin: 0;
  padding-left: 5px;
  font-size: 1.25em;
  width: 100%;
  border-width: 0;
  /* display: inline-block; */
  /* background: none; */
  box-shadow: 0 -2px -5px -2px #465362;
}

input[type="text"]:focus{
  box-shadow: 0 1px 5px 1px #8CD195;
}

article {
  margin: 20px 0;
}

#database-container, #catalog-container {
  background: #C3DFE0;
  color: #233831;
  /* border: 1px solid #ADA8B6; */
  box-shadow: 0 -2px 5px -2px #465362;
}



ul#catalog-movies {
  list-style-type: none;
}

.catalog-movie {
  background: white;
  margin: 15px 0;
  box-shadow: 0 2px 5px -2px #465362;
}
.catalog-movie span{
  font-weight: bold;
}

#title-image{
  display: block;
  text-align: center;
}
#title-image img {
  width: 100%;
}
#overview {
  padding-top: 10px;
}

#completed-checkbox {
  display: inline;
}

label {
  display: inline;
}

button.success {
  margin-right: 1.2rem;
  display: inline;
}

aside.create-tasklist {
  background-color: navy;
  color: #FFFFFF;
}
aside label {
  color: #FFFFFF;
}

.completed {
  text-decoration: line-through;
}

div {
  display: inline;
}

/* #sort, #add-history, #add-button { */
h3 {
  background: #BCD979;
  box-shadow: 0 2px 5px -2px #465362;
}
