@include foundation-everything;

/***** MAIN *****/

:root {
  --charcoal: #2A2B2A;
  --red: #D7263D;
  --orange: #F46036;
  --gold: #FFB238;
  --jade: #1B998B;
}

body {
  background-color: var(--charcoal);
}

header {
  background-color: var(--orange);
  border: 15px solid var(--red);
  border-radius: 5rem;
  margin: 1rem auto;
  min-width: 47rem;
  text-align: center;
  width: 80%;
}

h1 {
  color: var(--jade);
  font-family: 'Monoton', sans-serif;
  font-size: 4rem;
  font-weight: normal;
  line-height: 0.5;
  margin: 2rem;
}

h2 {
  color: var(--jade);
  font-family: 'Monoton', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  line-height: 0.5;
  margin: 1.5rem auto;
}

h3 {
  color: var(--gold);
  font-family: 'Monoton';
  font-size: 1.5rem;
  font-weight: normal;
  /*line-height: 0;*/
}

h4 {
  color: var(--jade);
  font-family: 'Fredoka One', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: 0;
}

ul {
  list-style: none;
  margin: 1rem;
}

.container {
  background-color: var(--gold);
  border-radius: 3rem;
  color: #D7263D;
  display: inline-block;
  margin: 1rem;
  vertical-align: top;
  width: 95%;
}

main {
  background-color: #F46036;
  border: 15px solid #D7263D;
  border-radius: 5rem;
  margin: 1rem auto;
  min-width: 47rem;
  text-align: center;
  width: 80%;
}

/***** NAV BAR *****/

#nav-bar {
  width: 30%;
}

form.search input {
  border-radius: 2rem;
  display: inline-block;
}

form.search input[type="text"] {
  width: 70%;
}

form.search input[type="submit"] {
  background-color: var(--red);
  color: white;
  height: 2.5rem;
  width: 25%;
}

/***** MOVIE LIST *****/

#movie-container {
  width: 60%;
}

.movie {
  color: #D7263D;
  background-color: #FFB238;
  border: 5px solid #D7263D;
  border-radius: 1rem;
  padding: 5%;
  margin: 1rem auto;
  min-width: 19.5rem;
  text-align: left;
  width: 90%;
}

.movie:hover {
  background-color: #D7263D;
  color: #FFB238;
}
