@include foundation-everything;
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');


body {
  font-family: 'Inconsolata', monospace;
}

ul {
  list-style-type: none;
}

main {
    background: lightblue;
    text-decoration: none;
    padding: 40px;
}

header {
  background-color: black;
  padding: 0.5rem;
  font-family: 'Inconsolata', monospace;
}

h2:hover {
  color: maroon;
  cursor: pointer;
}

#completed-checkbox {
  display: inline;
}

#logo {
  font-family: 'Bungee', cursive;
  color: yellow;
  text-shadow: -2px 0px 3px rgba(0, 255, 255, 1);
  text-align: center;
}

#logo:hover {
  color: maroon;
  text-shadow: -2px 1px 4px rgba(0, 255, 255, 1);
}

h2, h3, h4 {
  font-family: 'Bungee', cursive;
  display: table-header-group;
}

h2 {
  font-size: 1.5em;
  padding: 40px;
}

h5 {
  font-family: 'Inconsolata', monospace;
}

label {
  display: inline;
  font-family: 'Inconsolata', monospace;
}

button.success {
  margin-right: 1.2rem;
  display: inline;
}

aside label {
  color: #FFFFFF;
}

div {
  display: inline;
}

.pageDescription {
  color: lightblue;
  font-size: 1.2em;
  padding-left: 20px;
}

img {
    margin: auto;
     width: 20%;
     padding: 40px;
   }

footer {
  color: green;
  padding-left: 280px;
}

/*
* {
  border-style: solid;
}
*/
