@include foundation-everything;

main {
  background: lightgrey;
}

header {
  background-color: black;
  padding: 0.5rem;
}

h1 {
  color: white;
  margin-left: 5%;
}

hr {
  border-color: black;
}

.button-holder {
  text-align: center;
}

.button {
  background-color: black;
  margin: auto;
}

.button:hover {
  background-color: grey;
}

/*#button-button {
  width:400px;
  margin:auto 0;
  text-align: center;
}*/
/*#wrapper {
    width: 650px;
    margin: 0 auto;
}*/

/*Status messages*/
#messages {
  text-align: center;
  margin: 0;
}

#rental-messages {
  text-align: center;
  /*margin: 10%;*/
}

/*check in and check out*/
#check-out-container h2, #check-in-container h2 {
  text-align: center;
  margin-top: 5%;
}

#check-out-form, #check-in-form {
  max-width: 300px;
  margin: auto;
}

#check-out-form {
  margin-bottom: 5%;
}

/*movie search*/
#search-movies-container h2 {
  text-align: center;
}

#search-movies-list-container h4 {
  text-align: center;
}

#movie-search-form {
  max-width: 300px;
  margin: auto;
  margin-bottom: 5%;
}

/*library and search movies*/
#library-movies-container h2 {
  text-align: center;
}

#library-movie-details p, #search-movie-details p {
  padding: 2%;
  padding-bottom: 0;
}

.button.btn-add-checkout, .button.btn-add-movie {
  margin: 4%;
}

#library-movies p, #search-movies p {
  max-width: 400px;
  margin: auto;
  margin-top: 2%;
}

#library-movie-container, #search-movie-container {
  margin-top: 3%;
  margin-left: 26%;
  display: inline-block;
}

p.lib-movie, p.search-movie {
  border: solid black 1px;
  border-radius: 25px;
  background-color: darkgrey;
}

#completed-checkbox {
  display: inline;
}

label {
  display: inline;
}

button.success {
  margin-right: 1.2rem;
  display: inline;
}

aside.create-tasklist {
  background-color: navy;
  color: #FFFFFF;
}
aside label {
  color: #FFFFFF;
}

.completed {
  text-decoration: line-through;
}

div {
  display: inline;
}
/*
* {
  border-style: solid;
}
*/
