@include foundation-everything;

body {
  background: snow;
}

header {
  background-color: black;
  padding-top: 0.5rem;
  color: white;
  height: 120px;
  margin-bottom: 30px;
}

/* #completed-checkbox {
  display: inline;
}

label {
  display: inline;
} */

button.success {
  margin-right: 1.2rem;
  display: inline;
}

/* aside.create-tasklist {
  background-color: navy;
  color: #FFFFFF;
}
aside label {
  color: #FFFFFF;
} */

/* .completed {
  text-decoration: line-through;
} */

/* div {
  display: inline-block;
} */

#movies li {
  list-style-type: none;
}

/* header h1, #search-form, header p, header button { */
/* header h1, header p, header button {
  display: inline-block;
} */

#search-form {
  padding-top: 30px;
  margin-bottom: 20px;
  margin-right: 30px;
}

#rental-availability{
  color: red;
}

#home {
  cursor: pointer;
  padding: 30px;
  font-family: 'Bungee', cursive;
  color: #E5323B;
}

#home:hover {
  cursor: pointer;
  padding: 30px;
  font-family: 'Bungee', cursive;
  color: #FB3640;
}

#search-input {
  line-height: 40px;
  width: 42vw;
  border-radius: 3px;
}

.btn-search {
  display: none;
}

.card {
  /* width: 350px; */
  width: 20vw;
  background: snow;
  text-align: center;
  height: 470px;
  margin: 5px;
  cursor: pointer;
}

.card:hover {
  border-color: lightgray;
  background: #fff7f7;
}

.image_url {
  margin-top: 30px;
}

#movies-container {
  text-align: center;
  margin-left: 30px;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

#movie-photo {
  display: inline-block;
  width:400px;
  margin: 15px;
}
#movie-info {
  display:inline-block;
  width: 600px;
  text-align: justify;
  margin: 15px;
  padding-top: 30px;

}
#movie-details-container {
  text-align: center;
}
/*OTHER SYTLING*/
@media only screen and (min-width: 586px) {
  #home {
    font-size: 2em;
  }

}

@media only screen and (max-width: 586px) {
  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2.2em;
  }

  #movie-info {
    width: 400px;
  }

  .card {
    width: 450px;
  }

}
