@include foundation-everything;
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  font-family: 'Inconsolata', monospace;
}

main {
    background: lightblue;
}

header {
  background-color: black;
  padding: 0.5rem;
  font-family: 'Inconsolata', monospace;
}

#completed-checkbox {
  display: inline;
}

#logo {
  font-family: 'Bungee', cursive;
  color: yellow;
  text-shadow: -2px 0px 3px rgba(0, 255, 255, 1);
}

h2, h3, h4 {
  font-family: 'Bungee', cursive;
}

h5 {
  font-family: 'Inconsolata', monospace;
}

label {
  display: inline;
  font-family: 'Inconsolata', monospace;
}

button.success {
  margin-right: 1.2rem;
  display: inline;
}

aside label {
  color: #FFFFFF;
}

.completed {
  text-decoration: line-through;
}

div {
  display: inline;
}
/*
* {
  border-style: solid;
}
*/
