@include foundation-everything;
*, h2, h3, h4 {
  font-family: 'Roboto';
}

main {
  min-height: 100%;
  background-color: #fefefe;

}

header {
  /*background-color: lightgreen;*/
  background: red;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 100%;
  text-transform: uppercase;
}

h1 {
  font-family: 'Fjalla One';
  color: #fff;
  text-shadow:
    0 1px 0px #000,
    1px 0 0px #353535,
    1px 2px 1px #000,
    2px 1px 1px #353535,
    2px 3px 2px #000,
    3px 2px 2px #353535,
    3px 4px 2px #000,
    4px 3px 3px #353535,
    4px 5px 3px #000,
    5px 4px 2px #353535,
    5px 6px 2px #000,
    6px 5px 2px #353535,
    6px 6px 1px #000,
    6px 6px 1px #353535,
    6px 6px 0px #000,
    6px 6px 0px #353535;
  -webkit-text-stroke: 1px black;
}

#rental-table {
  max-height: 65vh;
  overflow: scroll;
}

#rental-library h3, #rental-library form {
  text-align: center;
}


/*#completed-checkbox {
  display: inline;
}

label {
  display: inline;
}

button.success {
  margin-right: 1.2rem;
  display: inline;
}

aside.create-tasklist {
  background-color: navy;
  color: #FFFFFF;
}
aside label {
  color: #FFFFFF;
}

.completed {
  text-decoration: line-through;
}

div {
  display: inline;
}*/
/*
* {
  border-style: solid;
}
*/

.button {
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
  background-color: gray;
}

[type='text'] {
  display: inline-block;
  width: 80%;
}
