@include foundation-everything;

main {
    background: white;
}

header {
  background-color: gold;
  color: #9AC83A;
  font-weight: bold;
  /*color: rgba(63,127,191, 1);*/
  padding: 40px;
  margin-bottom: 10px;
  background-image: url("popcorn.png")
}

.button {
  background: #9AC83A;
  
}
.button:hover {
  /*background: red;*/
  background: #88b824;
  /*background: linear-gradient(top,#b0dc55,#88b824);*/

}

#completed-checkbox {
  display: inline;
}

label {
  display: inline;
}

button.success {
  margin-right: 1.2rem;
  display: inline;
}

aside.create-tasklist {
  background-color: navy;
  color: #FFFFFF;
}
aside label {
  color: #FFFFFF;
}

.completed {
  text-decoration: line-through;
}

div {
  display: inline;
}

ul {
  list-style: none;
}

#query {}


script h2, script p, script button {
  display: inline-block;
  float: right;
}

#search-form {
  display: right;
}


/*
* {
  border-style: solid;
}
*/
